@model BaseWebTamplate.Models.Vijest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>Ovo je djelo mene koji je dovukao iz objekta podataka o administraopru....AAAAAA</p>
<p>Administrator je ovo:</p>
<ul>
    <li>@Model.Autor</li>
    <li>@Model.Naslov</li>
    <li>@Model.Sadrzaj</li>
    <li>@Model.Timestamp</li>
</ul>